<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> Shop マイページ </h2>
    <div class="col-12">
      
      <div class="col-md-8 mt-5 mx-auto">
          
          <div class="history-button text-right mb-1">
            <%= link_to "予約履歴", history_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
          </div>
          
            <table class="table table-show">
              <tr>
                <th>お店の名前</th>
                <td><%= @shop.name %></td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td><%= @shop.email %></td>
              </tr>
              <tr>
                <th>商品アラート</th>
                <td>
                  <% if @nor_items.present? %>
                    <% @nor_items.each do |nor_item| %>
                      <p><%= nor_item.product_name %>が最低在庫数を下回りました。</p>
                    <% end %>
                  <% else %>
                    <p>最低在庫数に達した商品はありません。</p>
                  <% end %>
                </td>
              </tr>
            </table>
          
          <div class="shop-button text-center mt-3">
            <%= link_to"編集する", shops_information_edit_path, class: "btn", style: "background-color: #08D9D6; color: white;" %>
          </div>
          
        
      </div>
    </div>
  </div>
</div>