<div class="container-fluid">
  <div class="row">
    <h2 class="mt-3 ml-2 shop-title text-center mx-auto">- Shop マイページ -</h2>
    <div class="col-12">
      
      <div class="col-md-8 mt-5 mx-auto">
          
          <div class="text-right mb-1 button">
            <%= link_to "予約履歴", history_path, class: "btn", style: "background-color: #64CCC5; color:white;" %>
          </div>
          
            <table class="table table-bordered">
              <tr>
                <td>お店の名前</td>
                <td><%= @shop.name %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= @shop.email %></td>
              </tr>
              <tr>
                <td>商品アラート</td>
                <td>
                  <% if @nor_items.present? %>
                    <% @nor_items.each do |nor_item| %>
                      <p><%= nor_item.product_name %>が最低在庫数を下回りました。</p>
                    <% end %>
                  <% else %>
                    <p>最低在庫数に達した商品はありません。</p>
                  <% end %>
                </td>
              </tr>
            </table>
          
          <div class="shop-button text-center">
            <%= link_to"編集する", shops_information_edit_path, class: "btn", style: "background-color: #64CCC5; color: white;" %>
          </div>
          
        
      </div>
    </div>
  </div>
</div>