<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> To go予約履歴一覧 </h2>
    <div class="col-12">
      
      <div class="col-md-11 mt-2 text-right">
        <%= form_with url: search_path, method: :get do |f| %>
          <%= f.label :keyword, "名前で検索", class: "custom-label-class" %>
          <%= f.text_field :keyword %>
          <%= f.hidden_field :type, value: "history" %>
          <%= f.submit "検索", class: "btn", style: "background-color: #FF2E63; color:white;" %>
        <% end %>
      </div>
      
      <div class="container col-9 mt-3">
        <div class="row">
          <div class="table-responsive mr-4">
            
            <table class="table table-index">
              <thead>
                <tr class="thead">
                  <th class="col-2 text-center">名前</th>
                  <th class="col-2 text-center">日付</th>
                </tr>
              </thead>
              
              <tbody>
                <% @to_gos.each do |to_go| %>
                  <tr>
                    <td>
                      <span class="sp">名前：</span>
                      <%= link_to history_show_path(to_go.id), class: "link" do %>
                        <%= to_go.customer_name %>様
                      <% end %>
                    </td>
                    <td><span class="sp">日付：</span><%= to_go.date %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
      <%= paginate @to_gos, class: "pagination" %>
    </div>
  </div>
</div>