<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> To go予約履歴一覧 </h2>
    <div class="col-12">
      
      <div class="col-md-11 mt-2 text-right">
        <%= form_with url: history_search_path, method: :get do |f| %>
          <%= f.label :keyword, "名前で検索", class: "custom-label-class" %>
          <%= f.text_field :keyword %>
          <%= f.submit "検索", class: "btn", style: "background-color: #FF2E63; color:white;" %>
        <% end %>
      </div>
      
      <%= render "history_index_table" %>
      
      <%= paginate @to_gos, class: "pagination" %>
    </div>
  </div>
</div>