<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> To go予約履歴詳細 </h2>
    <div class="col-12">
      <div class="col-md-7 mt-5 mx-auto">
        
        <div class="return-button text-right mb-1">
          <%= link_to "戻る", history_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
        </div>
        
        <table class="table table-show">
          <tr>
            <th>名前</th>
            <td><%= @to_go.customer_name %></td>
          </tr>
          
          <tr>
            <th>日付</th>
            <td><%= @to_go.date %></td>
          </tr>
          
          <tr>
            <th>時間</th>
            <td><%= @to_go.time %></td>
          </tr>
          
          <tr>
            <th>購入商品</th>
            <td>
                <% @to_go.reservation_details.each do |detail| %>
                  <%= detail.item.product_name %>：
                  <%= detail.item_counts %>
                  </br>
                <% end %>
            </td>
          </tr>
          
          <tr>
            <th>備考</th>
            <td><%= @to_go.body %></td>
          </tr>
        </table>
        
      </div>
    </div>
  </div>
</div>