<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> To go予約一覧 </h2>
    
    <div class="col-12">
      
      <div class="text-danger text-center mt-3">
        <%= flash[:alert] %>
      </div>
        
      <div class="plus-button col-md-11 text-right">
        <%= link_to "新規予約追加", new_to_go_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
      </div>
          
      <div class="col-md-11 mt-2 text-right">
        <%= form_with url: search_path, method: :get do |f| %>
          <%= f.label :keyword, "名前で検索", class: "custom-label-class" %>
          <%= f.text_field :keyword %>
          <%= f.hidden_field :type, value: "to-go" %>
          <%= f.submit "検索", class: "btn", style: "background-color: #FF2E63; color:white;" %>
        <% end %>
      </div>
          
      <%= render "to_go_index_table" %>
      
      <%= paginate @to_gos, class: "pagenation" %>
    </div>
  </div>
</div>