<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> To go予約一覧 </h2>
    
    <div class="col-12">
      
      <div class="text-danger text-center mt-3">
        <%= flash[:alert] %>
      </div>
        
      <div class="plus-button col-md-11 text-right">
        <%= link_to "新規予約追加", new_to_go_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
      </div>
          
      <div class="col-md-11 mt-2 text-right">
        <%= form_with url: search_path, method: :get do |f| %>
          <%= f.label :keyword, "名前で検索", class: "custom-label-class" %>
          <%= f.text_field :keyword %>
          <%= f.submit "検索", class: "btn", style: "background-color: #FF2E63; color:white;" %>
        <% end %>
      </div>
          
      <div class="container col-11 mt-3">
        <div class="row">
          <div class="table-responsive mr-4">
              
            <table class="table table-index">
              <thead>
                <tr class="thead">
                  <th class="col-2 text-center">名前</th>
                  <th class="col-2 text-center">日付</th>
                  <th class="col-1 text-center">時間</th>
                  <th class="col-3 text-center">備考</th>
                  <th class="col-2 text-center">チェック</th>
                </tr>
              </thead>
                
              <tbody>
                <% @to_gos.each do |to_go| %>
                  <tr>
                    <td>
                      <%= link_to to_go_path(to_go.id), class: "link" do %>
                        <%= to_go.customer_name %>様
                      <% end %>
                    </td>
                    <td><%= to_go.date %></td>
                    <td><%= to_go.time %></td>
                    <td><%= to_go.body %></td>
                    <td>
                      <%= form_with model: to_go, url: change_status_path(to_go) do |f| %>
                        <%= f.submit to_go.status == true ? "受け取り済み" : "受け渡し前", class: "btn btn-sm", style: "background-color: #08D9D6; color:white;" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
              
          </div>
        </div>
      </div>
      <%= paginate @to_gos, class: "pagenation" %>
    </div>
  </div>
</div>