<h4>To go予約新規登録</h4>
  <%= form_with model: @to_go, url: to_gos_path, method: :post do |f| %>
      <!-- メンターさんが教えてくれたグリッドシステムを使用したコード -->
        <!--<div class="row">-->
        <!--  <div class="col-md-3">-->
        <!--    名前-->
        <!--  </div>-->
        <!--  <div class="col-md-9">-->
        <!--    <%#= f.text_field :customer_name, class: 'form-control' %>-->
        <!--  </div>-->
        <!--</div>-->
    <table class="table table-borderless">
      <tr>
        <td>名前</td>
        <!-- 下のclass: 'form-control'はフォームが伸びて勝手に改行になってくれるやつ -->
        <td><%= f.text_field :customer_name, class: 'form-control' %></td>
      </tr>
      <tr>
        <td>連絡先</td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>日付</td>
        <td><%= f.date_field :date %></td>
      </tr>
      <tr>
        <td>時間</td>
        <td><%= f.text_field :time %></td>
      </tr>
      <tr>
        <td>予約商品</td>
        <td>
          <% Item.all.each do |detail| %>
            <%= f.fields_for :reservation_details, @to_go.reservation_details.build do |form| %>
              <%= form.number_field :item_counts %>
              <%= form.select :item_id, Item.all.map { |i| [i.product_name, i.id] } %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>備考</td>
        <td><%= f.text_area :body %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit "新規登録", class: "btn", style: "background-color: #64CCC5; color: white; mx-3" %>
        </td>
      </tr>
    </table>
  <% end %>