<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> 検索結果一覧 </h2>
    <% if @type == "to-go" %>
      <div class="col-12">
        <div class="container col-11 mt-3">
          <div class="row">
            <div class="table-responsive mr-4">
              
              <table class="table table-index">
                <thead>
                  <tr>
                    <th class="col-2 text-center">名前</th>
                    <th class="col-2 text-center">日付</th>
                    <th class="col-1 text-center">時間</th>
                    <th class="col-3 text-center">備考</th>
                    <th class="col-2 text-center">チェック</th>
                  </tr>
                </thead>
                  
                <tbody>
                  <% @to_gos.each do |to_go| %>
                    <tr>
                      <td>
                        <%= link_to to_go_path(to_go.id), class: "link" do %>
                          <%= to_go.customer_name %>様
                        <% end %>
                      </td>
                      <td><%= to_go.date %></td>
                      <td><%= to_go.time %></td>
                      <td><%= to_go.body %></td>
                      <td>
                        <%= form_with model: to_go, url: change_status_path(to_go) do |f| %>
                          <%= f.submit to_go.status == true ? "受け取り済み" : "受け渡し前", class: "btn btn-sm", style: "background-color: #08D9D6; color:white;" %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
        <%= paginate @to_gos, class: "pagination" %>
      </div>
      
    <% elsif @type == "history" %>
    
      <div class="col-12">
        <div class="return-button col-10 text-right mb-1">
          <%= link_to "戻る", history_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
        </div>
      
        <div class="container col-9 mt-3">
          <div class="row">
            <div class="table-responsive mr-4">
            
              <table class="table table-index">
                <thead>
                  <tr class="thead">
                    <th class="col-2 text-center">名前</th>
                    <th class="col-2 text-center">日付</th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @to_gos.each do |to_go| %>
                    <tr>
                      <td>
                        <span class="sp">名前：</span>
                        <%= link_to history_show_path(to_go.id), class: "link" do %>
                          <%= to_go.customer_name %>様
                        <% end %>
                      </td>
                      <td><span class="sp">日付：</span><%= to_go.date %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            
            </div>
          </div>
        </div>
        <%= paginate @to_gos, class: "pagination" %>
      </div>
      
    <% else %>
    
      <div class="container col-8">
        <div class="row">
          <div class="table-responsive mr-4">
            <table class="table table-index">
              <thead>
                <tr>
                  <th class="col-2 text-center">お店id</th>
                  <th class="col-2 text-center">お店の名前</th>
                  <th class="col-2 text-center">ステータス</th>
                </tr>
              </thead>
            
              <tbody>
                <% @shops.each do |shop| %>
                  <tr>
                    <td><%= shop.id %></td>
                    <td>
                      <%= link_to admin_shop_path(shop.id), class: "link" do %>
                        <%= shop.name %>
                      <% end %>
                    </td>
                    <td>
                      <% if shop.is_admission == true %>
                        <p class="text-success">稼働中</p>
                      <% else %>
                        <p class="text-danger">退会済</p>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <%= paginate @shops, class: "pagenation" %>
      </div>
      
    <% end %>
    
  </div>
</div>