<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> To go予約詳細 </h2>
    <div class="col-12">
      
      <div class="col-md-7 mt-5 mx-auto">
        
        <div class="text-success text-center">
          <%= flash[:notice] %>
        </div>
        
        <div class="return-button text-right mb-1">
          <%= link_to "戻る", to_gos_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
        </div>
        
        <table class="table table-show">
          <tr>
            <th>名前</th>
            <td><%= @to_go.customer_name %></td>
          </tr>
          
          <tr>
            <th>連絡先</th>
            <td><%= @to_go.address %></td>
          </tr>
          
          <tr>
            <th>日付</th>
            <td><%= @to_go.date %></td>
          </tr>
          
          <tr>
            <th>時間</th>
            <td><%= @to_go.time %></td>
          </tr>
          
          <tr>
            <th>予約商品</th>
            <td>
                <% @to_go.reservation_details.each do |detail| %>
                  <%= detail.item.product_name %>：
                  <%= detail.item_counts %>
                  </br>
                <% end %>
            </td>
          </tr>
          
          <tr>
            <th>備考</th>
            <td><%= @to_go.body %></td>
          </tr>
        </table>
        
        <div class="to_go-button text-center mt-3">
          <%= link_to "編集する", edit_to_go_path, class: "btn", style: "background-color: #08D9D6; color: white;" %>
        </div>
        
      </div>
    </div>
  </div>
</div>