<div class="container-fluid">
  <div class="row">
    <h2 class="mt-3 ml-2 index-title text-center mx-auto">- To go予約詳細 -</h2>
    <div class="col-12">
      
      <div class="col-md-7 mt-5 mx-auto">
        
        <div class="text-right mb-1 to_go-button">
          <%= link_to "戻る", to_gos_path, class: "btn", style: "background-color: #64CCC5; color:white;" %>
        </div>
        
        <table class="table table-bordered">
          <tr>
            <td class="class-td">名前</td>
            <td><%= @to_go.customer_name %></td>
          </tr>
          <tr>
            <td class="class-td">連絡先</td>
            <td><%= @to_go.address %></td>
          </tr>
          <tr>
            <td class="class-td">日付</td>
            <td><%= @to_go.date %></td>
          </tr>
          <tr>
            <td class="class-td">時間</td>
            <td><%= @to_go.time %></td>
          </tr>
          <tr>
            <td class="class-td">予約商品</td>
            <td>
                <% @to_go.reservation_details.each do |detail| %>
                  <%= detail.item.product_name %>
                  <%= detail.item_counts %>
                <% end %>
            </td>
          </tr>
          <tr>
            <td class="class-td">備考</td>
            <td><%= @to_go.body %></td>
          </tr>
        </table>
        
          <div class="to_go-button text-center">
            <%= link_to "編集する", edit_to_go_path, class: "btn", style: "background-color: #64CCC5; color: white;" %>
          </div>

        
      </div>
    </div>
  </div>
</div>