<div class="container-fluid">
  <div class="row">
    <h2 class="mt-3 ml-2 to_go-title text-center mx-auto"> 商品情報詳細 </h2>
    <div class="col-12">
      <div class="col-md-8 mt-5 mx-auto">
        
        <div class="text-right mb-3 return-button">
          <%= link_to "戻る", items_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="display-image">
              <%= image_tag @item.image, size: "350x250", class: "img-fluid" %>
            </div>
          </div>
          
          <div class="col-md-6">
            <table class="table-item-show">
              <tr>
                <th>商品名</th>
                <td><%= @item.product_name %></td>
              </tr>
              <tr>
                <th>在庫数</th>
                <td><%= @item.stock %></td>
              </tr>
              <tr>
                <th>最低在庫数</th>
                <td><%= @item.minimum_stock %></td>
              </tr>
              <tr>
                <th>備考</th>
                <td><%= @item.introduction %></td>
              </tr>
              <tr>
                <th>販売ステータス</th>
                <td><%= @item.item_status %></td>
              </tr>
            </table>
          </div>
        </div>
        
        <div class="item-button text-center mt-5">
          <%= link_to "編集する", edit_item_path(@item), class: "btn", style: "background-color: #08D9D6; color:white;" %>
        </div>
        
      </div>
    </div>
  </div>
</div>
